<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="poweract.test.res">

    <!-- BaseTest#requestUninstall() -->
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <uses-sdk tools:overrideLibrary="rikka.shizuku.shared" />

    <application>

        <!-- Comment this block if you encountered
         ClassNotFoundException: Didn't find class "moe.shizuku.api.ShizukuProvider" -->
        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />

        <activity
            android:name=".PlaygroundActivity"
            android:exported="true" />

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_description" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
    </application>

</manifest>