<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="poweract.test.res">

    <!-- BaseTest#requestUninstall() -->
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <application>

        <activity android:name=".PlaygroundActivity" />

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_description" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
    </application>

</manifest>