<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="demo.power_act">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <!-- Shizuku: minSdkVersion = 23 -->
    <uses-sdk tools:overrideLibrary="moe.shizuku.api,moe.shizuku.shared" />

    <uses-feature
        android:name="android.hardware.type.watch"
        android:required="false"
        tools:ignore="InvalidWearFeatureAttribute" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:banner="@android:drawable/ic_lock_power_off"
        android:icon="@android:drawable/ic_lock_power_off"
        android:label="@string/app_name"
        tools:targetApi="lollipop">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".TestReceiver"
            android:description="@string/device_admin_receiver_description"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <service
            android:name=".TestService"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility" />
        </service>

        <!-- Shizuku request -->
        <provider
            android:name="moe.shizuku.api.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />
    </application>

</manifest>